body, html {
    position: relative;
    height: 100%;
    margin: 0;
  }
  
  .background-image {
    position: relative;
    background-image: url('carla_birdview.png'); /* 替換成你的圖片路徑 */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh; /* 100%視窗高度 */
    color: white; /* 文字顏色，可以根據需要調整 */
    text-align: center;
    padding: 20px; /* 可以根據需要調整內容區塊的內邊距 */
    opacity: 0;
    animation: fadeIn  2s ease-in-out forwards;
  }
@keyframes fadeIn {
    to {
      opacity: 1;
    }
  }
  .construct-container {
    position: absolute;
    top: 45%; 
    left: 48%; 
    transform: translate(-50%, -50%); 用來將物件置中
  }
  .accident-container {
    position: absolute;
    top: 58%; 
    left: 55%; 
    transform: translate(-50%, -50%); 用來將物件置中
  }
  .position-container {
    position: absolute;
    top: 70%; 
    left: 48.3%; 
    transform: translate(-50%, -50%); 用來將物件置中
  }
  .ripple {
    width: 50px;
    height: 50px;
    background-color: transparent;
    border-radius: 50%;
    animation: rippleAnimation 2s linear infinite;
  }
  
  .ripple:nth-child(2) {
    animation-delay: 1.5s; 
  }
  
  @keyframes rippleAnimation {
    0% {
      transform: scale(0);
      opacity: 0.5;
    }
    100% {
      transform: scale(2);
      opacity: 0;
    }
  }
  .construct-ripple{
    border: 4px solid #fdc23e;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
  }
  .position-ripple{
    border: 4px solid #000000;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
  }
.accident-ripple{
    border: 4px solid #fd3e3e;
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%); 
  }
.transparent-box2 {
    position: absolute;
    top: 50%; 
    left: 55%; 
    background-color: rgba(255, 255, 255, 0.65); 
    padding: 30px;
    box-sizing: border-box; 
    border: 1px solid #3f4040;
    box-shadow: 12px 12px 2px rgba(0, 0, 0, 0.3);
  }  
.transparent-box2 p {
    margin: 0; 
    color: #000000;
    font-family: "cwtexfangsong", Helvetica, Arials, sans;
    font-size: 1.5em;
  } 
.transparent-box {
    position: absolute;
    top: 38%; 
    left: 38%; 
    background-color: rgba(255, 255, 255, 0.65); 
    padding: 30px;
    box-sizing: border-box; 
    border: 1px solid #3f4040;
    box-shadow: 12px 12px 2px rgba(0, 0, 0, 0.3);
  }  
.transparent-box p {
    margin: 0; 
    color: #000000;
    font-family: "cwtexfangsong", Helvetica, Arials, sans;
    font-size: 1.5em;
  } 
.construct{
    position: absolute;
    top: 38%; /* 這裡的百分比值是相對於 .background-image 區域的高度的 */
    left: 38%; /* 這裡的百分比值是相對於 .background-image 區域的寬度的 */
    transform: translate(-50%, -50%); /* 用來將物件置中 */
}
.con-img{
    max-width: 45%; /* 保證圖片最大寬度不超過容器寬度 */
    height: auto; /* 保持原始圖片高寬比例 */
    display: block; /* 讓圖片成為塊級元素，避免行內元素的間距問題 */
    margin: 0 auto; /* 水平居中 */
    
}
@keyframes movepoint {
	25% {
		top: 69%
	}
	100%{
		top: 70%
	}
}
  .position-fix {
    position: absolute;
    top: 70%; /* 這裡的百分比值是相對於 .background-image 區域的高度的 */
    left: 50%; /* 這裡的百分比值是相對於 .background-image 區域的寬度的 */
    transform: translate(-50%, -50%); /* 用來將物件置中 */
    animation: movepoint 2s infinite;
	-webkit-animation: movepoint 2s infinite;
  }
  .btn {
    display: block;
    background: transparent;
    text-transform: uppercase;
    font-weight: normal;
    font-style: normal;
    font-size: 0.625rem;
    letter-spacing: 0.3em;
    color: rgba(223,190,106,0.7);
    border-radius: 0;
    padding: 18px 40px 20px;
    -webkit-transition: all 0.7s ease-out;
    transition: all 0.7s ease-out;
    background: -webkit-linear-gradient(180deg, rgba(223,190,106,0.8), rgba(146,111,52,0.8), rgba(34,34,34,0), rgba(34,34,34,0));
    background: linear-gradient(270deg, rgba(223,190,106,0.8), rgba(146,111,52,0.8), rgba(34,34,34,0), rgba(34,34,34,0));
    background-position: 1% 50%;
    background-size: 300% 300%;
    text-decoration: none;
    margin: 0.625rem;
    border: none;
    border: 1px solid rgba(223,190,106,0.3);
  }
  .btn:hover {
    color: #fff;
    border: 1px solid rgba(223,190,106,0);
    color: $white;
    background-position: 99% 50%;
  }
  body {
    background: #231f20;
    color: #fff;
    font-family: "Helvetica Neue", Helvetica, Arials, sans;
  }
  article {
    height: 100vh;
  }
  div.center {
    text-align: center;
    *zoom: 1;
    width: auto;
    max-width: 800px;
    float: none;
    display: block;
    margin-left: 900pt;
    margin-top: 50pt;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    /* top: 50%; */
    /* -webkit-transform: translateY(-50%);
    transform: translateY(-50%); */
  }
  div.center:before,
  div.center:after {
    content: '';
    display: table;
  }
  div.center:after {
    clear: both;
  }
  .pos-img {
    max-width: 10%; /* 保證圖片最大寬度不超過容器寬度 */
    height: auto; /* 保持原始圖片高寬比例 */
    display: block; /* 讓圖片成為塊級元素，避免行內元素的間距問題 */
    margin: 0 auto; /* 水平居中 */
    /* position: absolute; 
    top: 100;
    left: 1000;  */
  }
.accident{
    position: absolute;
    top: 50%; /* 這裡的百分比值是相對於 .background-image 區域的高度的 */
    left: 55%; /* 這裡的百分比值是相對於 .background-image 區域的寬度的 */
    transform: translate(-50%, -50%); /* 用來將物件置中 */
}
  .acc-img {
    max-width: 9%; /* 保證圖片最大寬度不超過容器寬度 */
    height: auto; /* 保持原始圖片高寬比例 */
    display: block; /* 讓圖片成為塊級元素，避免行內元素的間距問題 */
    margin: 0 auto; /* 水平居中 */
    /* position: absolute; 
    top: 100;
    left: 1000;  */
  }
